<div class="uploads-page">
  <h5 class="list-label"> LIST OF UPLOADS </h5>
  <div class="table-wrapper">
    <table>
      <tbody>
        <% @files.each do |file| %>
          <tr>
            <td><%= file[:filename] %></td>
            <td><%= link_to "Download", rails_blob_path(file[:file], disposition: 'attachment'), class: "btn-link" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>

  <%= link_to 'New Upload', new_upload_path, class: "btn-link new-upload-link" %>
</div>
